#header_principal{
    background: #808e9b;    
}
#header_principal nav{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
}
#header_principal nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px; 
}
#logo img{
    width: 70px;
    height: 84px;
}